@import 'tailwindcss';

@config '../../tailwind.config.ts';

@theme {
	--breakpoint-xs: 30rem;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--hint: 240 5% 65%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 240 10% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--formula-filter: none;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--hint: 240 4% 46%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 240 4.9% 83.9%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--formula-filter: invert(1);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}

	.font-heading {
		font-family: 'Google Sans';
	}

	.ring-default {
		transition: box-shadow 150ms ease;

		@apply ring-offset-background;
		@apply focus-visible:ring-ring;
		@apply focus-visible:ring-2;
		@apply focus-visible:ring-offset-2;
		@apply focus-visible:outline-none;
	}

	.no-drag {
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
	}

	.button {
		font-family: 'Google Sans';

		@apply select-none;
		@apply active:not-is-touch:scale-[0.97];
		@apply inline-flex;
		@apply items-center;
		@apply justify-center;
		@apply cursor-pointer;
		@apply gap-2;
		@apply rounded-md;
		@apply text-sm;
		@apply font-medium;
		@apply whitespace-nowrap;
		@apply no-underline;
		@apply transition-all;
		@apply ring-offset-background;
		@apply focus-visible:ring-ring;
		@apply focus-visible:ring-2;
		@apply focus-visible:ring-offset-2;
		@apply focus-visible:outline-none;
		@apply disabled:pointer-events-none;
		@apply disabled:opacity-50;
		@apply [&_svg]:pointer-events-none;
		@apply [&_svg]:size-4;
		@apply [&_svg]:shrink-0;
	}

	.button-default {
		@apply bg-primary text-primary-foreground not-is-touch:hover:bg-primary/90;
		@apply is-touch:active:bg-primary/90 is-touch:active:duration-0;
	}

	.button-secondary {
		@apply bg-secondary text-secondary-foreground not-is-touch:hover:bg-secondary/80;
		@apply is-touch:active:bg-secondary/80 is-touch:active:duration-0;
	}

	.button-ghost {
		@apply not-is-touch:hover:bg-accent-foreground/12 not-is-touch:hover:text-accent-foreground;
		@apply is-touch:active:bg-accent-foreground/12 is-touch:active:duration-0;
	}

	.article {
		& img {
			@apply h-auto max-w-full rounded-sm align-middle;
		}

		& div.table,
		& div.scrollable-table {
			@apply my-4 overflow-auto break-normal;
		}

		& table {
			@apply w-full border-collapse;
		}

		& table td,
		& table th {
			@apply border-hint min-w-[100px] border px-3 pt-1.5 pb-2 align-top;
		}

		& h1,
		& h2 {
			@apply text-xl font-medium;
		}

		& h3 {
			@apply text-lg font-medium;
		}

		& h4,
		& h5,
		& h6 {
			@apply text-base font-medium;
		}

		& figure {
			@apply m-0 mt-8 text-center;
		}

		& figure.bordered {
			@apply border-border rounded-lg border p-2;
		}

		& figure.float {
			@apply float-left mr-8 max-w-[50%];
		}

		& figure figcaption {
			@apply text-muted-foreground mt-2 text-center text-sm;
		}

		& .Image:has(img.formula) {
			filter: var(--formula-filter);
			@apply my-8 w-full;
		}

		& .Image:has(img.formula.inline) {
			vertical-align: -0.719ex;
			@apply mx-1 my-0 inline-flex w-fit;
		}

		& iframe {
			@apply w-full border-none;
		}

		@apply prose prose-zinc dark:prose-invert prose-pre:border-1 break-words;
	}

	.tap-highlight {
		@apply transition-all;
	}

	.tap-highlight:active {
		@apply opacity-85 duration-0;
	}

	.link {
		@apply decoration-accent-foreground/24 decoration-2 underline-offset-2 hover:decoration-transparent hover:underline-offset-3 active:decoration-transparent active:underline-offset-3;
		@apply text-accent-foreground relative rounded-xs box-decoration-clone ring-2 ring-transparent transition-all active:transition-none;
		@apply not-is-touch:hover:bg-border not-is-touch:hover:ring-4 not-is-touch:hover:ring-border;
		@apply not-is-touch:active:bg-border not-is-touch:active:ring-4 not-is-touch:active:ring-border not-is-touch:active:brightness-150;
		@apply is-touch:active:bg-border is-touch:active:ring-4 is-touch:active:ring-border;
	}

	/* Disable the default view transition animation. */
	:root::view-transition-new(root) {
		animation: none;
	}
	:root::view-transition-old(root) {
		animation: none;
	}

	body::after,
	body::before {
		content: '';
		z-index: 10;
		top: 0;
		height: 100%;
		position: fixed;
		pointer-events: none;
		width: 100%;
		background: var(--background);
	}

	body::before {
		left: calc(50% - var(--container-xl) / 2 - var(--scrollbar-width, 0px) / 2);
		transform: translateX(-100%);
		border-right: 1px solid hsl(var(--border) / 1);
		view-transition-name: border-left;
	}

	body::after {
		right: calc(50% - var(--container-xl) / 2 + var(--scrollbar-width, 0px) / 2);
		transform: translateX(100%);
		border-left: 1px solid hsl(var(--border) / 1);
		view-transition-name: border-right;
	}
}

@custom-variant is-touch (@media (pointer: coarse));
