@import 'tailwindcss';

@config '../../tailwind.config.ts';

@theme {
	--breakpoint-xs: 30rem;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--hint: 240 5% 65%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 240 10% 3.9%;
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--formula-filter: none;
		--md-ripple-pressed-opacity: 0.05;
		--md-ripple-pressed-color: rgb(0, 0, 0);
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--hint: 240 4% 46%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--ring: 240 4.9% 83.9%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
		--formula-filter: invert(1);
		--md-ripple-pressed-opacity: 0.05;
		--md-ripple-pressed-color: rgb(255, 255, 255);
	}

	@media (pointer: coarse) {
		:root {
			--md-ripple-pressed-opacity: 0.09;
		}

		.dark {
			--md-ripple-pressed-opacity: 0.09;
		}
	}
}

@layer components {
	.button {
		font-family: 'Google Sans';

		@apply relative;
		@apply select-none;
		@apply active:not-is-touch:scale-[0.98];
		@apply inline-flex;
		@apply items-center;
		@apply justify-center;
		@apply cursor-pointer;
		@apply gap-2;
		@apply rounded-md;
		@apply text-sm;
		@apply font-medium;
		@apply whitespace-nowrap;
		@apply no-underline;
		@apply transition-all;
		@apply ring-offset-background;
		@apply focus-visible:ring-ring;
		@apply focus-visible:ring-2;
		@apply focus-visible:ring-offset-2;
		@apply focus-visible:outline-none;
		@apply disabled:pointer-events-none;
		@apply disabled:opacity-50;
		@apply [&_svg]:pointer-events-none;
		@apply [&_svg]:size-4;
		@apply [&_svg]:shrink-0;
	}

	.button-default {
		--md-ripple-pressed-color: rgb(0, 0, 0);
		@apply bg-primary text-primary-foreground;
		@apply is-touch:active:bg-primary/90 is-touch:active:duration-0;
	}

	.button-secondary {
		@apply bg-secondary text-secondary-foreground not-is-touch:hover:bg-secondary/80;
		@apply is-touch:active:bg-secondary/80 is-touch:active:duration-0;
	}

	.button-ghost {
		@apply not-is-touch:hover:bg-accent-foreground/12 not-is-touch:hover:text-accent-foreground;
		@apply is-touch:active:bg-accent-foreground/12 is-touch:active:duration-0;
	}

	.link:not(:has(.Image)) {
		@apply decoration-accent-foreground/24 decoration-2 underline-offset-2 hover:decoration-transparent hover:underline-offset-3 active:decoration-transparent active:underline-offset-3;
		@apply text-accent-foreground relative rounded-xs box-decoration-clone ring-2 ring-transparent transition-all active:transition-none;
		@apply not-is-touch:hover:bg-border not-is-touch:hover:ring-4 not-is-touch:hover:ring-border;
		@apply not-is-touch:active:bg-border not-is-touch:active:ring-4 not-is-touch:active:ring-border not-is-touch:active:brightness-85 dark:not-is-touch:active:brightness-150;
		@apply is-touch:active:bg-border is-touch:active:ring-4 is-touch:active:ring-border;
	}
}

@layer utilities {
	.font-heading {
		font-family: 'Google Sans';
	}
}

@layer base {
	:root {
		--md-ripple-hover-opacity: 0;
		--drawer-width: 264px;
		--drawer-collapsed-width: 72px;
		--sidebar-width: 348px;
		--article-width: var(--container-2xl);
		--article-collapsed-width: 612px;
	}

	@media (width < 80rem) {
		:root {
			--drawer-width: var(--drawer-collapsed-width);
		}
	}

	@media (width < 1110px) {
		:root {
			--article-width: var(--article-collapsed-width);
		}
	}

	* {
		@apply border-border box-border;
	}

	body {
		@apply bg-background text-foreground overscroll-x-none;
	}

	.max-w-article {
		@apply max-w-[var(--article-width)];
	}

	.ring-default {
		transition: box-shadow 150ms ease;

		@apply ring-offset-background;
		@apply focus-visible:ring-ring;
		@apply focus-visible:ring-2;
		@apply focus-visible:ring-offset-2;
		@apply focus-visible:outline-none;
	}

	.no-drag {
		-webkit-user-drag: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
	}

	.focus-ring {
		@apply focus-visible:ring-offset-background;
		@apply focus-visible:ring-ring;
		@apply focus-visible:ring-2;
		@apply focus-visible:ring-offset-2;
		@apply focus-visible:outline-none;
	}

	.focus-ring-within {
		@apply focus-within:ring-offset-background;
		@apply focus-within:ring-ring;
		@apply focus-within:ring-2;
		@apply focus-within:ring-offset-2;
		@apply focus-within:outline-none;
	}

	html {
		scrollbar-color: hsl(var(--secondary-foreground) / 0.5) hsl(var(--secondary) / 0.32);
	}

	.article {
		max-width: none !important;

		& p {
			@apply m-0;
		}

		& * {
			scrollbar-color: hsl(var(--muted-foreground) / 0.5) transparent;
		}

		& a + p,
		iframe + p,
		blockquote + p,
		details + p,
		figure + p,
		.SyntaxHighlighter + p,
		table + p {
			@apply mt-6;
		}

		& p + a,
		p + p {
			@apply mt-4;
		}

		& img {
			@apply h-auto max-w-full rounded-sm align-middle;
		}

		& div.table,
		& div.scrollable-table {
			@apply ring-border m-0 -mx-4 overflow-auto break-normal ring min-[42rem]:mx-0 min-[42rem]:rounded-xl;
		}

		@apply prose-tr:border-b-border! prose-th:border-b prose-th:border-hint/40;

		& table {
			@apply ring-border bg-hint/3 m-0 w-full border-collapse overflow-hidden ring;
		}

		& table th {
			@apply bg-hint/12;
		}

		& table td,
		& table th {
			@apply min-w-[100px] px-3.5 py-2.5 align-top;
		}

		& table th > p,
		table td > p {
			@apply m-0;
		}

		& hr {
			@apply border-border -mx-4 mt-8 mb-8;
		}

		& h1,
		& h2 {
			@apply text-xl font-medium;
		}

		& h3 {
			@apply text-lg font-medium;
		}

		& h4,
		& h5,
		& h6 {
			@apply text-base font-medium;
		}

		& figure {
			@apply m-0 mt-6 text-center;
		}

		& figure.bordered {
			@apply border-border rounded-lg border p-2;
		}

		& figure.float {
			@apply float-left mr-8 max-w-[50%];
		}

		& figure figcaption {
			@apply text-muted-foreground mt-2 text-center text-sm;
		}

		& .Image:has(img.formula) {
			filter: var(--formula-filter);
			display: block !important;
			width: fit-content !important;
			@apply mx-auto my-8;
		}

		& .Image:has(img.formula.inline) {
			vertical-align: -0.719ex;
			@apply mx-1 my-0 inline-flex w-fit;
		}

		& iframe {
			@apply w-full border-none;
		}

		& code:not(pre > code) {
			font-family: Menlo, Monaco, Consolas, 'Courier New', Courier, monospace;
			@apply bg-primary/7 rounded-md px-[0.4em] py-[0.2em] font-normal break-words whitespace-break-spaces;
		}
		& code::after,
		& code::before {
			display: none;
		}

		& ul p,
		ol p {
			@apply m-0;
		}

		& ul li + li {
			@apply m-0 mt-3;
		}

		& :is(dir, menu, ol, ul) ul {
			list-style-type: circle;
		}

		& :is(dir, menu, ol, ul) :is(dir, menu, ol, ul) ul {
			list-style-type: square;
		}

		& > :first-child {
			@apply mt-0!;
		}

		& > :last-child {
			@apply mb-0!;
		}

		@apply prose-blockquote:mt-3! prose-blockquote:mb-3! prose-blockquote:py-1 prose-blockquote:[&_p:first-of-type]:font-medium prose-blockquote:[&_p:first-of-type]:not-italic prose-blockquote:[&_p:first-of-type]:after:hidden prose-blockquote:[&_p:first-of-type]:before:hidden;
		@apply prose prose-zinc dark:prose-invert prose-pre:border-1 break-words;
	}

	.article.article--version-1 {
		& p,
		& hr,
		& ul {
			@apply my-0!;
		}

		& h1 + p,
		h2 + p,
		h3 + p,
		h4 + p,
		p + p,
		pre + p {
			@apply my-0;
		}

		& h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply mt-1 mb-0;
		}
	}

	.tap-highlight {
		@apply transition-opacity;
	}

	.tap-highlight:active {
		@apply opacity-85 duration-0;
	}

	.container-bordered::after,
	.container-bordered::before {
		@apply bg-background pointer-events-none fixed top-0 z-10 h-full w-full content-[''];
	}

	.container-bordered::before {
		transform: translateX(-100%);
		border-right: 1px solid hsl(var(--border) / 1);
		view-transition-name: border-left;
	}

	.container-bordered::after {
		transform: translateX(var(--article-width));
		border-left: 1px solid hsl(var(--border) / 1);
		view-transition-name: border-right;
	}

	.pswp__img {
		background-color: white;
	}

	body:not(.hydrated) md-ripple {
		display: none;
	}

	.shimmer {
		position: relative;
		mask-image: -webkit-radial-gradient(center, white, black);
		overflow: hidden;
		opacity: 0.75;
		user-select: none;
		pointer-events: none;
		cursor: default;
		transition: all 150ms ease;
		animation: 0.5s cubic-bezier(0.2, 0, 0, 1) 0s animation-shimmer-in both;
	}

	.shimmer::after {
		@apply via-primary/5 bg-gradient-to-r from-transparent to-transparent;
		content: '';
		position: absolute;
		transform: translateX(-100%);
		transition: all 150ms ease;
		inset: 0px;
		animation: 2s ease-in-out 0s infinite normal none running animation-shimmer;
	}

	@keyframes animation-shimmer {
		0% {
			transform: translateX(-100%);
		}
		75% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(100%);
		}
	}

	@keyframes animation-shimmer-in {
		from {
			opacity: 1;
		}
		to {
			opacity: 0.75;
		}
	}

	.reveal::after {
		content: '';
		z-index: 10;
		user-select: none;
		pointer-events: none;
		position: fixed;
		height: 100%;
		width: 100%;
		animation: reveal 500ms cubic-bezier(0.2, 0, 0, 1);
		background-position-y: -50%;
		background-size: 100% 300%;
		background-repeat: no-repeat;
		background-image: linear-gradient(
			to bottom,
			hsl(var(--background) / 0),
			hsl(var(--background) / 1),
			hsl(var(--background) / 1),
			hsl(var(--background) / 0)
		);
	}

	@keyframes reveal {
		from {
			background-position-y: 0%;
		}
		to {
			background-position-y: -50%;
		}
	}
}

@custom-variant is-touch (@media (pointer: coarse));
