@layer base {
	:root,
	html {
		--transition-slide-offset: 40px;
		--transition-zoom-in-scale: 1.05;
		--transition-zoom-out-scale: 0.9;
		--vt-transform-origin-x: 50%;
		--vt-transform-origin-y: 50%;
		--vt-transform-origin: var(--vt-transform-origin-x) var(--vt-transform-origin-y);

		view-transition-name: root !important;
	}

	@media (min-width: 672px) {
		:root {
			--transition-slide-offset: 16px;
			--transition-zoom-in-scale: 1.02;
			--transition-zoom-out-scale: 0.95;
		}
	}

	html:not(.view-transition)::view-transition-group(*),
	html:not(.view-transition)::view-transition-old(*),
	html:not(.view-transition)::view-transition-new(*) {
		animation: none;
	}

	html.view-transition.view-change::view-transition-new(root) {
		animation: fade-in 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}
	html.view-transition.view-change::view-transition-old(root) {
		animation: fade-out 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}

	html.view-transition.entering::view-transition-new(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			zoom-in-enter 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-in 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}
	html.view-transition.entering::view-transition-old(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			zoom-out-enter 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-out 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}

	html.view-transition.leaving::view-transition-new(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			zoom-in-leave 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-in 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}
	html.view-transition.leaving::view-transition-old(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			zoom-out-leave 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-out 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}

	html.view-transition.slide.entering::view-transition-new(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			slide-in-from-right 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-in 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}
	html.view-transition.slide.entering::view-transition-old(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			slide-out-to-left 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-out 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}

	html.view-transition.slide.leaving::view-transition-new(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			slide-in-from-left 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-in 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}
	html.view-transition.slide.leaving::view-transition-old(root) {
		transform-origin: var(--vt-transform-origin);
		animation:
			slide-out-to-right 500ms cubic-bezier(0.2, 0, 0, 1) both,
			fade-out 300ms cubic-bezier(0.7, 0, 0, 1) both;
	}

	@media (min-width: 1024px) {
		:root {
			--real-sidebar-width: min(
				(100% - var(--article-width) - var(--drawer-collapsed-width)),
				var(--sidebar-width)
			);
			--vt-transform-origin-x: calc(50% - (var(--real-sidebar-width) - var(--drawer-width)) / 2);
		}
	}

	@keyframes zoom-in-enter {
		from {
			z-index: 1000;
			transform: scale(var(--transition-zoom-in-scale));
		}
		to {
			z-index: 1000;
			transform: scale(1);
		}
	}

	@keyframes zoom-out-enter {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(var(--transition-zoom-out-scale));
		}
	}

	@keyframes zoom-in-leave {
		from {
			z-index: 1000;
			transform: scale(var(--transition-zoom-out-scale));
		}
		to {
			z-index: 1000;
			transform: scale(1);
		}
	}

	@keyframes zoom-out-leave {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(var(--transition-zoom-in-scale));
		}
	}

	@keyframes slide-in-from-right {
		from {
			z-index: 1000;
			transform: translateX(var(--transition-slide-offset));
		}
		to {
			z-index: 1000;
			transform: translateX(0);
		}
	}

	@keyframes slide-in-from-left {
		from {
			transform: translateX(calc(-1 * var(--transition-slide-offset)));
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes slide-out-to-right {
		from {
			z-index: 1000;
			transform: translateX(0);
		}
		to {
			z-index: 1000;
			transform: translateX(var(--transition-slide-offset));
		}
	}

	@keyframes slide-out-to-left {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-1 * var(--transition-slide-offset)));
		}
	}

	@keyframes slide-in-from-bottom {
		from {
			z-index: 1000;
			transform: translateY(var(--transition-slide-offset));
		}
		to {
			z-index: 1000;
			transform: translateY(0);
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}
